<div
    class="wrapper
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  style4">
    <article id="contact"
      class="container
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    75%">
      <header>
        <h2>Feel
          free
          to
          contact
          me</h2>
        <p>The
          best
          way
          to
          contact
          me
          is
          through
          email.</p>
      </header>
      <div>
        <div class="row">
          <div class="6u">
            <article
              class="box
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            style2">
              <h3 style="color:black;text-shadow:none">Email</h3>
              <p style="color:black;text-shadow:none">karthikabinavs@gmail.com</p>
            </article>
          </div>
          <div class="6u">
            <article
              class="box
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            style2">
              <h3 style="color:black;text-shadow:none">Social
                Media</h3>
              <li>
                <a href="https://scholar.google.com/citations?user=uJ-Dhj4AAAAJ&hl=en"
                  class="ai
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ai-google-scholar-square"
                  target="_blank" style="text-shadow:none;text-decoration:none"><span>
                    Google
                    Scholar</span></a>
              </li>
              <li>
                <a href="http://twitter.com/karthikabinav"
                  class="icon
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                fa-twitter"
                  target="_blank" style="text-shadow:none"><span>
                    Twitter</span></a>
              </li>
              <li><a href="http://www.linkedin.com/in/karthikabinav"
                  class="icon
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                fa-linkedin"
                  target="_blank" style="text-shadow:none"><span>
                    LinkedIn</span></a></li>
              <li><a href="http://github.com/karthikabinav"
                  class="icon
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                fa-github"
                  target="_blank" style="text-shadow:none"><span>
                    Github</span></a>
              </li>
              <li><a href="https://bitbucket.org/karthikabinav/"
                  class="icon
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                fa-bitbucket"
                  target="_blank" style="text-decoration:none;text-shadow:none"><span>
                    Bitbucket</span></a></li>
            </article>
          </div>
        </div>
      </div>
      <footer>
        <ul id="copyright">
          <li>&copy;
            Karthik
            A
            Sankararaman
            All
            rights
            reserved.</li>
          <li>Design:
            <a href="http://html5up.net">HTML5
              UP</a>
          </li>
          <li>Last
            Updated:
            May
            2025</li>
        </ul>
      </footer>
    </article>
  </div>