<div
    class="wrapper
                                                                                                                                                                                                                                                                                                                                                                                                                                                                style3"
    style="align:left">
    <article id="teaching">
      <header>
        <h3>Teaching
          Experience</h3>
      </header>
      <center>
        <p
          style="align:center;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                      width:50%">
          Recently,
          I
          have
          been
          <a href="https://www.youtube.com/playlist?list=PLW8hxQePki4KvI-HbxmKkUxOfluzPwryv" , target="_blank">working
          </a>
          on
          a
          series
          on
          "Introduction
          to
          Online
          Learning".
          This
          covers
          the
          theoretical
          foundations
          of
          basic
          algorithms
          in
          both
          adversarial
          and
          stochastic
          online
          learning.
          This
          is
          meant
          to
          be
          an
          introduction
          to
          this
          subject
          typically
          covered
          in
          an
          undergraduate
          machine
          learning
          class.
        </p>
      </center>
      <br />
      I
      have
      served
      as
      an
      <strong>instructor</strong>
      for
      the
      following
      class,
      teaching
      along
      with
      <strong>Bill
        Gasarch</strong>
      <br />
      <li>
        Honors
        class
        on
        Discrete
        Structures
        (Spring
        2019)
        <br />
      </li>
      <br />
      I
      have
      served
      as
      a
      <strong>Teaching
        Assistant</strong>
      for
      the
      following
      classes
      during
      my
      time
      at
      UMD
      <br />
      <li>
        Graduate
        Algorithms
        (Spring
        2018)
        <br />
        <strong>Instructors:
          Aravind
          Srinivasan</strong>
      </li>
      <br />
      <li>
        Design
        and
        Analysis
        of
        Computer
        Algorithms
        (Fall
        2016,
        Spring
        2017,
        Fall
        2017,
        Fall
        2018)
        <br />
        <strong>Instructors:
          Samir
          Khuller,
          Jessica
          Chang,
          Aravind
          Srinivasan</strong>
      </li>
      <br />
      <li>
        Discrete
        Structures
        (Fall
        2014
        and
        Spring
        2015)
        <br />
        <strong>Instructors:
          Clyde
          Kruskal,
          Fawzi
          Emad
        </strong>
      </li>
      <br />
      <li>
        Introduction
        to
        Programming
        (Fall
        2015
        and
        Spring
        2016)
        <br />
        <strong>Instructors:
          Nelson
          Padua-Perez,
          Fawzi
          Emad
        </strong>
      </li>
      <br />
      As
      an
      undergrad
      I
      have
      served
      as
      a
      Teaching
      Assistant
      at
      IITM.
      <br />
      <li>
        Paradigms
        of
        Programming(IITM)
        <br />
        <strong>Instructors:
          Narayanaswamy
          NS
        </strong>
      </li>
    </article>
  </div>