<div
    class="wrapper
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            style3">
    <article id="writings">
      <header>
        <h3>Miscellanous
          Writings
          -
          Academic
          and
          Non-Academic</h3>
      </header>
      <!--
						<li>
                          Blog hosted here <a href="http://karthikabinavs.xyz/blog" target="_blank">Blog</a>.

						</li>
                        -->
      <br />
      <li>
        A
        critique
        I
        wrote
        for
        the
        Computational
        Journalism
        class.
        <br />
        The
        article
        is
        a
        critque
        on
        FiveThirtyEight
        publication
        <a href="http://fivethirtyeight.com/features/the-best-and-worst-airlines-airports-and-flights-summer-2015-update/"
          target="_blank">Best
          and
          Worst
          Airlines</a>.
        <br />
        <a href="Writings/article_critique.pdf" target="_blank">Critique</a>
      </li>
      <br />
      <li>
        Final
        project
        for
        the
        Computational
        Journalism
        class
        on
        Bias
        in
        Google's
        Autocomplete
        Suggestion.
        <br />
        Along
        with
        Daniel
        Trielli,
        we
        studied
        the
        bias
        in
        auto-complete
        suggestions
        of
        various
        country
        specific
        <br />
        domains
        of
        Google
        when
        searched
        about
        entities
        of
        other
        countries.
        <br />
        (For
        example,
        searching
        about
        Pakistan
        in
        India-specific
        Google
        page).<br />
        You
        can
        find
        the
        code
        used
        for
        the
        experiments
        <a href="https://github.com/karthikabinav/Computational-Journalism" target="_blank">here</a>.
        <br />
        <a href="Writings/GoogleAutocompleteBiasAbinavTrielli.pdf" target="_blank">Article
          summarizing
          the
          methodologies
          and
          findings</a>
      </li>
      <br />
      <li>
        Final
        class
        project
        for
        the
        Convex
        Optimization
        class.
        <br />
        Along
        with
        Manasij
        Venkatesh
        and
        Aditya
        Acharya,
        we
        looked
        at
        sparse
        representations
        for
        speech
        <br />
        using
        Convex
        Optimization
        based
        approximations.
        In
        particular,
        we
        applied
        techniques
        from
        compressed
        <br />
        sensing
        literature
        to
        speech.
        <br />
        <a href="Writings/cvx_report.pdf" target="_blank">Report</a>,
        <a href="Writings/cvx_poster.pdf" target="_blank">Poster</a>,
        <a href="https://github.com/karthikabinav/Sparse-Speech-Representation" target="_blank">code</a>
      </li>
      <br />
      <li>
        Final
        class
        project
        for
        the
        Lower
        Bounds
        in
        Algorithms
        class.<br />
        Along
        with
        Tommy
        Pensyl
        and
        Bartosz
        Rybicki
        (visiting
        from
        Poland),
        we
        studied
        <br />
        lower
        bounds
        for
        fault
        tolerant
        variations
        of
        the
        facility
        location
        problem.
        <br />
        <a href="Writings/facilityLocation.pdf" target="_blank">Report</a>
      </li>
      <br />
    </article>
  </div>